/* Main.html */

body {
    background-color: pink;
    font-family:sans-serif;
    text-align:center;
}

header {
    display:none
}

h1 {
    color:royalblue;
    position:absolute;
    top: 5%;
    left: 38%
}

.profiel {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
}

.levelsKnop {
    position: absolute;
    font-size:30px;
    padding: 10px 60px;
    border-radius: 30px;
    background-color: rgb(0, 215, 215);
    color: aliceblue;
    border:2px solid palevioletred;
<<<<<<< Updated upstream:App/CSS/style.css
    top:200px;
=======
    top:150px;
>>>>>>> Stashed changes:design/style.css
    left:44%
}

.LatijnsLink {
    position:absolute;
    left:40%;
    top:300px;
    background-color: rgb(0, 215, 215);
}

.FransLink {
    position:absolute;
    right:40%;
    top:300px;
    background-color: rgb(0, 215, 215);
}

.uitloggen {
    display:none;
    position:absolute;
    right:20px;
    top: 100px
}

.kijkDit {
    position: absolute;
    top: 25px;
    right: 100px;
    border-radius: 10px;
    width: 50px;
    transform:rotate(-50deg);
    padding: 10px 10px;
    border-radius: 5px;
    background-color: palevioletred;
    border: 2px solid royalblue;
    color:aliceblue;
}
.profiel {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.uitloggen {
  color:aliceblue;
  display: none;
  position: absolute;
  background-color: rgb(0, 215, 215);
  border:2px solid palevioletred;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.uitloggen a {
  color: aliceblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .uitloggen {
  display: block;
}

.oefentekst {
    position:absolute;
    text-align:center;
    left:30px;
    color:palevioletred
}

/* Inloggen.html */

h2 {
    color:palevioletred;
    
}

input[type=text] {
    border: 2px solid royalblue;
    background-color: paleturquoise;
    padding:6px 6px;
    border-radius:5px
}

input[type=password] {
    border:2px solid royalblue;
    background-color:paleturquoise;
    padding:6px 6px;
    border-radius:5px
}

label {
    color:royalblue
}

.WachtwoordVergetenKnop {
    color:white;
    border: 2px solid royalblue;
    border-radius:4px;
    background-color:palevioletred;
    padding:7px 7px
}

.SignInKnop {
    color:white;
    border: 2px solid royalblue;
    border-radius: 4px;
    background-color:palevioletred;
    padding:7px 7px;
}

.inlogknop {
    color:royalblue;
    border: 2px solid royalblue;
    border-radius:4px;
    background-color:paleturquoise;
    padding:7px 7px;
}

.WachtwoordVergetenKnop:hover {
    background-color:rgb(236, 49, 111);
    transition: 1s;
}