<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frans level(1)</title>
    <script src="../../static/Javascript/check.js"></script>
    <link rel="stylesheet" href="../../static/CSS/style.css">
</head>
<body>
<br>
<button id="backMenuKnop" onclick="window.location.href='../frans'"> Terug naar het Frans menu? </button>
<br>
<h1>Frans Levels</h1>
<p>Klik het juiste antwoord om door te gaan.</p>
<hr>
<h2>Level 1</h2>
<p>Wat betekent eau = ?</p>
<button onclick="controleer(false, 'french', 1)">Zon</button><br><br>
<button onclick="controleer(true, 'french', 1)">Water</button><br><br>
<button onclick="controleer(false, 'french', 1)">Maan</button>
<br><br>
<p id="feedback"></p>
<button id="volgendeKnop" style="display:none;" onclick="window.location.href='/franslvl2'">Volgende -></button>
<button id="opnieuwKnop" style="display:none;" onclick="opnieuw()">Opnieuw proberen</button>
<hr>
</body>
</html>