<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a name="level6"></a>
<h2>Level 6</h2>
<p>Wat betkent maison = ?</p>
<a href="#einde">huis</a> <button>Controleer</button>
<br>
<br>
<a href="#">tempel</a> <button>Controleer</button>
<br>
<br>
<a href="#">stad</a> <button>Controleer</button>

<hr>

<a name="einde"></a>
<h2>Gefeliciteerd!</h2>
<p>Je hebt alle levels gehaald!</p>

<br>
<a href="../index.html">Terug naar home</a>

</body>
</html>