<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Level 6 -->
<a name="level6"></a>
<h2>Level 6</h2>
<p>amicus = ?</p>
<a href="#einde">vriend</a><br>
<a href="#">vijand</a><br>
<a href="#">koning</a>

<hr>

<!-- Einde -->
<a name="einde"></a>
<h2>Gefeliciteerd!</h2>
<p>Je hebt alle levels gehaald!</p>

<br>
<a href="../index.html">Terug naar home</a>
</body>
</html>