<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Latijn Taaltrainer - Levels</title>
</head>

<body>

<h1>Latijn Taaltrainer</h1>
<p>Ga naar het volgende level als je het juiste antwoord kiest!</p>

<!-- Level 1 -->
<h2>Level 1</h2>
<p>Wat betkent aqua = ?</p>
<a href="#water">water (goed)</a> <button>Controleer</button>
<br>
<br>
<a href="#zon">zon (fout)</a> <button>Controleer</button>
<br>
<br>
<a href="#maan">maan (fout)</a> <button>Controleer</button>

<hr>


</body>
</html>
