<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Welkom bij de Latijns levels</h3>
    <button>
<a href="Latijns_levels/level1latijn.html"> Level 1 </a>
    </button>
    <br>
    <br>
    <button>
<a href="Latijns_levels/level2latijn.html"> Level 2 </a>
    </button>
    <br>
    <br>
    <button>
<a href="Latijns_levels/level3latijn.html"> Level 3 </a>
    </button>
    <br>
    <br>
    <button>
<a href="Latijns_levels/level4latijn.html"> Level 4 </a>
    </button>
    <br>
    <br>
    <button>
<a href="Latijns_levels/level5latijn.html"> Level 5 </a>
    </button>
    <br>
    <br>
    <button>
<a href="Latijns_levels/level6latijn.html"> Level 6 </a>
    </button>
</body>
</html>