<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Frans Levels</title>
</head>

<body>

<h1>Frans Levels</h1>
<p>Klik het juiste antwoord om door te gaan.</p>

<hr>

<h2>Level 1</h2>
<p>eau = ?</p>
<a href="#level2">water</a><br>
<a href="#">zon</a><br>
<a href="#">maan</a>

<hr>

<a name="level2"></a>
<h2>Level 2</h2>
<p>roi = ?</p>
<a href="#level3">koning</a><br>
<a href="#">priester</a><br>
<a href="#">soldaat</a>

<hr>

<a name="level3"></a>
<h2>Level 3</h2>
<p>lune = ?</p>
<a href="#level4">maan</a><br>
<a href="#">zon</a><br>
<a href="#">ster</a>

<hr>

<a name="level4"></a>
<h2>Level 4</h2>
<p>soleil = ?</p>
<a href="#level5">zon</a><br>
<a href="#">maan</a><br>
<a href="#">aarde</a>

<hr>

<a name="level5"></a>
<h2>Level 5</h2>
<p>ami = ?</p>
<a href="#level6">vriend</a><br>
<a href="#">vijand</a><br>
<a href="#">koning</a>

<hr>

<a name="level6"></a>
<h2>Level 6</h2>
<p>maison = ?</p>
<a href="#einde">huis</a><br>
<a href="#">tempel</a><br>
<a href="#">stad</a>

<hr>

<a name="einde"></a>
<h2>Gefeliciteerd!</h2>
<p>Je hebt alle levels gehaald!</p>

<br>
<a href="../index.html">Terug naar home</a>

</body>
</html>
