<!DOCTYPE html>
<html lang="nl">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>TaalTrainerVoorJongeren</title>

<link rel="stylesheet" href="../static/CSS/style.css">

</head>

<body>

<header>
<p>Welkom tot TaalTrainerVoorJongeren</p>
</header>

<!-- kijk dit label -->
<div class="kijkDit">kijk dit</div>

<!-- profiel icoon -->
<div class="dropdown">
    <img src="../static/images/profiel_plaatje.png" alt="profiel" class="profiel">
<!-- uitlog knop -->
<div class="uitloggen">
<a href="/logout">Uitloggen</a>
</div>
</div>
<h1>Taal Trainer Voor Jongeren</h1>

<h2>Oefen een taal</h2>


<!-- Latijn trainer -->
 <br><br><br><br><br><br>
<button onclick="window.location.href='/latijns'">Latijns lessen</button>
<button onclick="window.location.href='/frans'">Frans lessen</button>

<script src="../static/Javascript/script.js" defer></script>
</body>
</html>