<!DOCTYPE html>
<html lang="nl">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>TaalTrainerVoorJongeren</title>
<link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>

<header>
<p>Welkom tot TaalTrainerVoorJongeren</p>
</header>

<!-- kijk dit label -->
<div class="kijkDit">kijk dit</div>

<!-- profiel icoon -->
<div class="dropdown">
    <img src="images/profiel.png" alt="profiel" class="profiel">

<!-- uitlog knop -->
<div class="uitloggen">
<a href="logout.html">Uitloggen</a>
</div>
</div>

<h1>taal trainer voor jongeren</h1>

<!-- levels knop -->
<a href="docs/levels.html" class="levelsKnop">Levels</a>




<hr>

<div class="oefentekst">
<h2>Oefen een taal</h2>
</div>

<!-- Latijn trainer -->
<a href="Latijns_levels/level1latijn.html" class="LatijnsLink">
<button>🏛️ Latijn oefenen</button>
</a>

<!-- Frans trainer -->
<a href="Frans_levels/level1frans.html" class="FransLink">
<button>🇫🇷 Frans oefenen</button>

<script src="../static/Javascript/script.js"></script>
</a>

</body>
</html>