<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <h2>Registreren</h2>

    <form id="registerForm">
        <input type="text" id="email" placeholder="Email" required><br><br>
        <input type="password" id="password" placeholder="Wachtwoord" required><br><br>
        <button type="submit">Register</button>
    </form>

    <br>
    <a href="/login">Terug naar login</a>

<script src="../static/Javascript/script.js"></script>

</body>
</html>